* {
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: #f1eee3;
}
.web_content {
  display: flex;
  width: 100%;
}

.left_header {
  padding-left: 25px;
  padding-right: 20px;
  border-right: 3px solid #cccccc;
}

.logo img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.logo {
  margin-top: 25px;
}

.nav_bar .ul {
  list-style: none;
  margin-top: 240px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0;
}

.save1_img img {
  margin-left: -6.2px;
}

.right_content {
  /* border: 1px solid black; */
  width: 100%;
}

.upper_content {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
  /* border:  1px black solid; */
  padding-inline: 50px;
}

.book_title {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 0;
}

.book_title img {
  width: 32px;
  height: 32px;
}

.book_title h3 {
  margin: 5px;
}

.icons ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: -10px;
}

.chuong {
  /* display: flex;
    justify-content: center; */
  text-align: center;
  align-items: center;
}

.book_content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

/* Mỗi trang nội dung */
.right_book_content,
.left_book_content {
  width: 550px; /* cố định độ rộng 2 trang */
  min-height: 644px; /* giữ chiều cao trang đều nhau */
  line-height: 1.6; /* cho dễ đọc */
  text-align: justify; /* căn đều hai bên cho đẹp */
}

/* .right_book_content p{
    width: 550px;
    height: 644px;
}

.left_book_content{
    width: 550px;
    height: 644px;
} */

.page_num {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
}
