html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; 
    overflow-x: hidden; 
}
.container {
    width: 100vw;
    height: 100vh;
    background-image: url('BG (1).png'); 
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: left; 
    position: relative; 
}
.form-box{      
   position: absolute;
   left: 1700px;
   top: 500px;
}
.form-box h1{
    font-size: 38px;
    margin-bottom: 0.5px;
}
.form-box p{
   color:#181821 ;
   margin-top: 0.5px; 
}
.form-box input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}
.form-box button {
    width: 100%;
    padding: 10px;
    border: none;
    color: white;
    background: #0099ff;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

