* {
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: #f1eee3;
}
.web_content {
  display: flex;
  width: 100%;
}

.left_header {
  padding-left: 25px;
  padding-right: 20px;
  border-right: 3px solid #cccccc;
}

.logo img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.logo {
  margin-top: 25px;
}

.nav_bar .ul {
  list-style: none;
  margin-top: 240px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0;
}

.save1_img img {
  margin-left: -6.2px;
}

/* .right_content {
  margin: 0 auto;
  width: fit-content;
}

.upper_content {
  margin-top: 20px;
  display: flex;
  gap: 950px;
} */

.right_content {
  width: 100%;
}

.upper_content {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.book_cover img {
  width: 320px;
  height: 457px;
  padding: 0;
  margin-left: 64px;
  margin-top: 25px;
  box-shadow: -15px 10px 30px rgba(0, 0, 0, 0.253);
}

.search_section {
  display: flex;
  gap: 32px;
  align-items: center;
  height: 60px;
  /* width: 450px; */
  padding-left: 20px;
}

.search_section img {
  width: 30px;
  height: 30px;
}

.search_section input {
  border: none;
  outline: none;
  font-size: 16px;
  background-color: transparent;
  font-family: "Quicksand", sans-serif;
  width: 300px;
}

/* .search_section input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  width: 200px;
} */

.account_display {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-right: 20px;
}

.avt_name img {
  width: 60px;
  height: 60px;
}

.avt_name {
  font-size: 20px;
  /* height: 25px; */
  white-space: nowrap;
}

.avt_name h3 {
  margin-left: 5px;
  margin-top: 15px;
}

.country {
  display: flex;
  align-items: center;
  gap: 10px;

  background-color: #e6e6e6; /* màu nền (bạn thay bằng màu bạn muốn) */
  border: 1px solid #009fff; /* border đen */
  padding: 0 12px; /* cho đẹp hơn */
  border-radius: 50px;
  height: 45px;
  margin-top: 10px;
}

.country img {
  width: 25px;
  height: 16px;
}

.avt_name {
  display: flex;
  gap: 10px;
}

.bell_img {
  width: 40px;
  height: 40px;
  margin-top: 8px;
}

.tro_lai {
  margin-top: 42px;
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.thong_tin_sach {
  display: flex;
}

.book_info {
  margin-left: 60px;
}
.rating {
  display: flex;
}

.info1_tren {
  font-weight: bold;
}

.tacgiavv {
  display: flex;
  gap: 150px;
}

.button_and_icons {
  display: flex;
  gap: 30px;
}

.button_and_icons img {
  width: 30px;
  height: 30px;
}

.doc_sach_button {
  display: flex;
  background-color: #009fff;
  border: none;
  border-radius: 10px;
  width: 206px;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  color: white;
  font-weight: 700;
}

.desc {
  width: 1000px;
}
.rut_gon {
  color: #009fff;
}

.comment_section {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.user {
  display: flex;
  justify-content: space-between;
}

.avt_user {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
}

.time {
  display: flex;
  align-items: center;
}

.footer {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

.outtro {
  width: 428px;
}

.footer_content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer_content img {
  width: 15.5px;
  height: 19px;
}

.services ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.about ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.footer_li1 {
  font-weight: bold;
}

.follow_us {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.follow {
  font-weight: bold;
}

.copyright_term {
  display: flex;
  justify-content: space-between;
  padding: 0 350px;
  margin-top: 94px;
}

.copyright {
  color: #181821;
}

.term_policy {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #181821;
  gap: 32px;
}
